@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>CalendarioVale</PageTitle>

<div class="page">
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        if (authState is not null)
        {
            var user = authState?.User;
            if (user?.Identity is null || !user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo("Identity/Account/Login");
            }
        }
        else
        {
            NavigationManager.NavigateTo("Identity/Account/Login");
        }
    }    
}