@attribute [Authorize]
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject IDailyStatusService DailyStatusService
@inject IPersonService PersonService

<RadzenTemplateForm TItem="DailyStatus" Data="@model" Submit=@OnSubmit>
    <div class="row">
        <div class="col-md-3">
            <RadzenLabel Text="Persona" />
        </div>
        <div class="col">
            <RadzenDropDown TValue="string" AllowVirtualization="true" AllowFiltering="true" Data=@persons TextProperty="FullName" ValueProperty="Id" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <RadzenLabel Text="Data" />
        </div>
        <div class="col">
            <RadzenDatePicker class="rz-my-1" @bind-Value="@model.Date" Name="Date" ShowTime="false" />
            <RadzenRequiredValidator Text="Data obbligatoria" Component="Date" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <RadzenLabel Text="Note" />
        </div>
        <div class="col">
            <RadzenTextBox class="rz-my-1" @bind-Value="@model.Note" Name="Note" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton class="rz-my-1" Click=@(args => OnClick("Primary button")) Text="Aggiungi dati"
                ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton class="rz-my-1" ButtonType="ButtonType.Submit" Text="Salva" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public DateTime Date { get; set; }
    IEnumerable<Person> persons;
    DailyStatus model = new DailyStatus();
    protected override void OnInitialized()
    {
        persons = PersonService.GetAllPerson();
    }

    protected override void OnParametersSet()
    {
        model.Date = Date;
        model.Modify = DateTime.Now;
        model.Visible = true;
    }

    void OnSubmit(DailyStatus model)
    {
        DialogService.Close(model);
    }
    private void OnClick(string text)
    {
        NavigationManager.NavigateTo($"AddBioMetrics/{Date.ToString("s", System.Globalization.CultureInfo.InvariantCulture)}");
    }
}